<header>
	<div class="top-content">

		<div class="logo">
			<a href="{{"/" | relLangURL}}">
			<img src="{{ .Site.Params.logos.header }}" alt="logo {{ .Site.Title }}">
			</a>
		</div>

		<input type="checkbox" id="menu-burger" class="visually-hidden" aria-label="Menu"/>

		<label for="menu-burger">
			{{ partial "icon.html" "menu" }}
			{{ partial "icon.html" "close" }}
		</label>

		<nav>
			<ul class="menu">
				{{- $currentPage := . -}}
				{{ range where .Site.Menus.main "Name" "in" site.Params.mainSections}}
						<li>
							<a href="{{ .URL | relLangURL }}">{{ .Name }}</a>
						</li>
				{{ end }}
			</ul>
		</nav>

	</div>
</header>

